/* You can add global styles to this file, and also import other style files */
@import '../node_modules/bootstrap/scss/bootstrap'

.loginForm
  position: absolute
  width: 200px
  height: 60px
  left: 50%
  margin-left: -100px

#navbar ul
  margin: 0
  padding: 5px
  list-style-type: none
  text-align: center
  background-color: #000


#navbar ul li
  display: inline
#navbar li
  color: white


#navbar ul li a
  text-decoration: none
  padding: .2em 1em
  color: #fff
  background-color: #000


#navbar ul li a:hover
  color: #000
  background-color: #fff

